In [6]:
import pandas as pd
import polars as pl
from timeit import timeit

In [3]:
d_labitems = pd.read_csv("mimic-iv-2.2/hosp/d_labitems.csv.gz")

In [4]:
# d_labitems.head(10)
contains = d_labitems["label"].str.contains("temp", case=False, na=False)
d_labitems[contains]

    itemid        label  fluid   category
23   50825  Temperature  Blood  Blood Gas

In [19]:
d_labitems["fluid"].unique()
d_labitems["category"].unique()

array(['Blood Gas', 'Chemistry', 'Hematology'], dtype=object)

In [12]:
omr = pd.read_csv("../mimic-iv-2.2/hosp/omr.csv.gz")
omr.head(10)

   subject_id   chartdate  seq_num      result_name result_value
0    10000032  2180-04-27        1   Blood Pressure       110/65
1    10000032  2180-04-27        1     Weight (Lbs)           94
2    10000032  2180-05-07        1      BMI (kg/m2)         18.0
3    10000032  2180-05-07        1  Height (Inches)           60
4    10000032  2180-05-07        1     Weight (Lbs)        92.15
5    10000032  2180-05-07        2     Weight (Lbs)        92.15
6    10000032  2180-05-07        3     Weight (Lbs)        92.15
7    10000032  2180-05-07        4     Weight (Lbs)        92.15
8    10000032  2180-05-07        5     Weight (Lbs)        92.15
9    10000032  2180-05-07        6     Weight (Lbs)        92.15

## `icu`

In [6]:
d_items = pd.read_csv("mimic-iv-2.2/icu/d_items.csv.gz")

In [8]:
# d_items.head()
d_items[
    d_items["abbreviation"].str.contains("spo2", case=False, na=False)
]

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
36,220277,O2 saturation pulseoxymetry,SpO2,chartevents,Respiratory,%,Numeric,NaN,NaN
345,223769,O2 Saturation Pulseoxymetry Alarm - High,SpO2 Alarm - High,chartevents,Alarms,%,Numeric,NaN,NaN
346,223770,O2 Saturation Pulseoxymetry Alarm - Low,SpO2 Alarm - Low,chartevents,Alarms,%,Numeric,NaN,NaN
1810,226253,SpO2 Desat Limit,SpO2 Desat Limit,chartevents,Alarms,%,Numeric,NaN,NaN
3920,229862,Forehead SpO2 Sensor in Place,Forehead SpO2 Sensor in Place,chartevents,Routine Vital Signs,NaN,Checkbox,NaN,NaN

### `chartevents`

In [13]:
t1 = timeit(
    lambda: pd.read_csv("mimic-iv-2.2/icu/chartevents.csv.gz", nrows=100000), number = 10
)

t2 = timeit(
    lambda: pl.read_csv("mimic-iv-2.2/icu/chartevents.csv.gz", n_rows=100000), number = 10
)

print(t1,t2)

1.188919428968802 0.9366396398982033

In [5]:
chartevents = pd.read_csv("mimic-iv-2.2/icu/chartevents.csv.gz", nrows=10)