# init

In [1]:
import numpy as np
import pandas as pd
import polars as pl
from timeit import timeit
import os, sys
print(os.getcwd())
os.chdir('/gpfs/data/healthcare-allocate/CLIF-MIMIC/code')
print(os.getcwd())

proj_root = "/gpfs/data/healthcare-allocate/CLIF-MIMIC"
if proj_root not in sys.path:
    sys.path.append(proj_root)

from code.custom_utils import *

/gpfs/data/healthcare-allocate/CLIF-MIMIC
/gpfs/data/healthcare-allocate/CLIF-MIMIC/code

In [2]:
d_items = pd.read_csv("../mimic-iv-2.2/icu/d_items.csv.gz")
chartevents = pd.read_parquet('../mimic-iv-2.2/icu/chartevents.parquet')

def load_mimic_table(module, table):
    return pd.read_parquet(f'../mimic-iv-2.2/{module}/{table}.parquet')

# utils

## `ItemFinder`

In [12]:
class ItemFinder():
    def __init__(self, kw, df = d_items, col: str = "label", 
                 case: bool = False):
        '''
        Look up an item by keyword from the `d_items` table of the `icu` module.
        - df = `d_items`
        - col = {"label", "abbr"}
        '''
        self.kw = kw
        self.df = df
        self.col = "abbreviation" if col == "abbr" else col
        self.case = case

        self.kw_items = df[
            df[self.col].str.contains(kw, case = case, na = False)
        ]
        self.kw_items_ids = self.kw_items["itemid"].values
        self.kw_items_chartevents = chartevents.loc[
            chartevents["itemid"].isin(self.kw_items_ids),
            :
        ]
        self.item_freq = self.kw_items_chartevents.value_counts("itemid")

        self.candidate_table = (
            self.kw_items
            .loc[:, ["itemid", "label", "abbreviation", "linksto", "category", "unitname", "param_type"]]
            .join(self.item_freq, on = "itemid", validate = "1:1")
            .sort_values(by = "count", ascending = False) 
            .assign(
                value_instances = lambda x: x["itemid"].apply(ItemFinder.item_id_to_value_instances)
            )
        )

    @staticmethod
    def item_id_to_label(item_id: int) -> str:
        '''
        Return the "label" string given an item_id string 
        '''
        return d_items.loc[d_items["itemid"] == item_id, "label"].values[0]

    @staticmethod
    def item_id_to_chartevents(item_id: int):
        '''
        Return all the chartevents associated with this item id in a pandas df.
        '''
        return chartevents.loc[chartevents["itemid"] == item_id, :]

    @staticmethod
    def item_id_to_value_instances(item_id: int):
        '''
        Wrapper
        '''
        label = ItemFinder.item_id_to_label(item_id)

        param_type = d_items.loc[d_items["itemid"] == item_id, "param_type"].values[0]
        if param_type == "Numeric":
            val_instances = ItemFinder.item_id_to_value_instances_numeric(item_id)
        elif param_type == "Text":
            val_instances = ItemFinder.item_id_to_value_instances_categorical(item_id)
        else:
            return param_type
        print(f"item label: {label}; value instances: {str(val_instances)}")
        return val_instances

    @staticmethod
    def item_id_to_value_instances_categorical(item_id: int):
        '''
        Return all the unique categories
        '''
        assoc_chartevents = chartevents.loc[chartevents["itemid"] == item_id, :]
        categories = assoc_chartevents.value_counts("value").index.to_list()
        return str(categories)
    
    @staticmethod
    def item_id_to_value_instances_numeric(item_id: int):
        '''
        Find max, min, mean of a continuous, or numeric, item.
        '''
        valuenum_col = chartevents.loc[chartevents["itemid"] == item_id, :]["valuenum"]
        val_max, val_min, val_mean = valuenum_col.max(), valuenum_col.min(), valuenum_col.mean()
        return f"Max: {val_max}, Min: {val_min}, Mean: {val_mean}"

In [9]:
ItemFinder("Temperature").candidate_table

item label is Temperature Site
categories are ['Oral', 'Blood', 'Axillary', 'Rectal', 'Esophogeal', 'Temporal', 'Tympanic']
item label is Temperature Fahrenheit
item label is Skin Temperature
categories are ['Warm', 'Cool', 'Hot', 'Cold']
item label is Temperature Celsius
item label is Blood Temperature CCO (C)
item label is Cerebral Temperature (C)
item label is Changes in Temperature
categories are ['No report of temperature change', 'Reports feeling cold, hands cold and clammy to touch', 'Uncontrolled shivering']
item label is TemperatureF_ApacheIV
item label is Pt. Temperature (BG) (SOFT)

,itemid,label,abbreviation,category,unitname,param_type,count,value_instances
767,224642,Temperature Site,Temp Site,Routine Vital Signs,NaN,Text,1842387.0,"['Oral', 'Blood', 'Axillary', 'Rectal', 'Esoph..."
337,223761,Temperature Fahrenheit,Temperature F,Routine Vital Signs,°F,Numeric,1515962.0,"Max: 234123.0, Min: -99.9, Mean: 98.7157890197..."
505,224027,Skin Temperature,Skin Temp,Skin - Assessment,NaN,Text,952619.0,"['Warm', 'Cool', 'Hot', 'Cold']"
338,223762,Temperature Celsius,Temperature C,Routine Vital Signs,°C,Numeric,264628.0,"Max: 987.4, Min: 0.0, Mean: 37.05203024169777"
1814,226329,Blood Temperature CCO (C),Blood Temp CCO (C),Routine Vital Signs,°C,Numeric,151805.0,"Max: 336.7, Min: 0.0, Mean: 37.07423083165904"
3466,229236,Cerebral Temperature (C),Cerebral T (C),Hemodynamics,°C,Numeric,2469.0,"Max: 39.47, Min: 32.9, Mean: 37.076647225597405"
790,224674,Changes in Temperature,Changes in Temperature,Toxicology,NaN,Text,1972.0,"['No report of temperature change', 'Reports f..."
2097,227054,TemperatureF_ApacheIV,TemperatureF_ApacheIV,Scores - APACHE IV (2),°F,Numeric,7.0,"Max: 103.6, Min: 96.0, Mean: 99.8"
2776,228242,Pt. Temperature (BG) (SOFT),Pt. Temperature (BG) (SOFT),Labs,NaN,Numeric,NaN,"Max: nan, Min: nan, Mean: nan"

# by MIMIC modules / tables

## `hosp`

In [2]:
d_labitems = pd.read_csv("mimic-iv-2.2/hosp/d_labitems.csv.gz")

In [4]:
# d_labitems.head(10)
contains = d_labitems["label"].str.contains("temp", case=False, na=False)
d_labitems[contains]

    itemid        label  fluid   category
23   50825  Temperature  Blood  Blood Gas

In [19]:
d_labitems["fluid"].unique()
d_labitems["category"].unique()

array(['Blood Gas', 'Chemistry', 'Hematology'], dtype=object)

In [12]:
omr = pd.read_csv("../mimic-iv-2.2/hosp/omr.csv.gz")
omr.head(10)

   subject_id   chartdate  seq_num      result_name result_value
0    10000032  2180-04-27        1   Blood Pressure       110/65
1    10000032  2180-04-27        1     Weight (Lbs)           94
2    10000032  2180-05-07        1      BMI (kg/m2)         18.0
3    10000032  2180-05-07        1  Height (Inches)           60
4    10000032  2180-05-07        1     Weight (Lbs)        92.15
5    10000032  2180-05-07        2     Weight (Lbs)        92.15
6    10000032  2180-05-07        3     Weight (Lbs)        92.15
7    10000032  2180-05-07        4     Weight (Lbs)        92.15
8    10000032  2180-05-07        5     Weight (Lbs)        92.15
9    10000032  2180-05-07        6     Weight (Lbs)        92.15

## `icu`

### `d_items`

### `chartevents`

In [3]:
# resave into parquet
chartevents = load_gz_csv("mimic-iv-2.2/icu/chartevents.csv.gz")
chartevents.to_parquet('mimic-iv-2.2/icu/chartevents.parquet')

In [54]:
chartevents.loc[
    chartevents["itemid"] == 224689, :]["valuenum"].agg(["max","min"])

max    2843.0
min       0.0
Name: valuenum, dtype: float64

In [ ]:
def map_one_item(item_id):
    '''
    create the rows in a vitals table corresponding to one item from MIMIC, based on item id.
    '''

In [47]:
item_id = 220050
vital_name = find_item_label(item_id)
vital_category = "sbp"
meas_site_name = itemid_to_meas_site_name[item_id]

vitals_sbp = (
    chartevents
    .loc[
        chartevents["itemid"] == item_id,  # :
        ["hadm_id", "charttime", "itemid", "value"]
    ]
    .rename(columns = {
        "hadm_id": "encounter_id", 
        "charttime": "recorded_dttm",
        "value": "vital_value"
        })
    .assign(
        vital_name = vital_name,
        vital_category = vital_category,
        meas_site_name = meas_site_name
    )
    .reindex(
        columns = ["encounter_id", "recorded_dttm", "vital_name", "vital_category", "vital_value", "meas_site_name"]
    )
)

In [48]:
vitals_sbp

,encounter_id,recorded_dttm,vital_name,vital_category,vital_value,meas_site_name
19182,23581541,2160-05-18 20:00:00,Arterial Blood Pressure systolic,sbp,116,arterial
19327,23581541,2160-05-18 21:00:00,Arterial Blood Pressure systolic,sbp,97,arterial
19353,23581541,2160-05-18 22:00:00,Arterial Blood Pressure systolic,sbp,123,arterial
19376,23581541,2160-05-18 22:10:00,Arterial Blood Pressure systolic,sbp,94,arterial
19385,23581541,2160-05-18 23:00:00,Arterial Blood Pressure systolic,sbp,116,arterial
...,...,...,...,...,...,...
313630748,26785317,2148-11-20 06:00:00,Arterial Blood Pressure systolic,sbp,124,arterial
313630778,26785317,2148-11-20 20:00:00,Arterial Blood Pressure systolic,sbp,104,arterial
313630874,26785317,2148-11-20 21:00:00,Arterial Blood Pressure systolic,sbp,102,arterial
313630901,26785317,2148-11-20 22:00:00,Arterial Blood Pressure systolic,sbp,105,arterial
313630949,26785317,2148-11-20 23:00:00,Arterial Blood Pressure systolic,sbp,87,arterial

### `d_items` counting

In [7]:
chartevents.loc[chartevents["itemid"] == 224642, "value"].unique()

array(['Oral', 'Axillary', 'Esophogeal', 'Tympanic', 'Rectal', 'Blood',
       'Temporal'], dtype=object)

In [15]:
chartevents.loc[
    (chartevents["itemid"].isin([224642,223762])) & (chartevents["stay_id"] == 39553978),
    :
]

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
18,10000032,29079034,39553978,66056.0,2180-07-23 20:00:00,2180-07-23 19:59:00,224642,Oral,NaN,None,0.0
160,10000032,29079034,39553978,88981.0,2180-07-23 14:00:00,2180-07-23 14:18:00,224642,Oral,NaN,None,0.0
370,10000032,29079034,39553978,88981.0,2180-07-23 17:00:00,2180-07-23 17:03:00,224642,Oral,NaN,None,0.0

In [24]:
temp = chartevents.loc[
    (chartevents["itemid"].isin([224642,223762])),
    :
]

temp

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
18,10000032,29079034,39553978,66056.0,2180-07-23 20:00:00,2180-07-23 19:59:00,224642,Oral,NaN,None,0.0
160,10000032,29079034,39553978,88981.0,2180-07-23 14:00:00,2180-07-23 14:18:00,224642,Oral,NaN,None,0.0
370,10000032,29079034,39553978,88981.0,2180-07-23 17:00:00,2180-07-23 17:03:00,224642,Oral,NaN,None,0.0
551,10000980,26913865,39765666,36518.0,2189-06-27 09:07:00,2189-06-27 09:07:00,224642,Axillary,NaN,None,0.0
733,10000980,26913865,39765666,36518.0,2189-06-27 12:00:00,2189-06-27 12:53:00,224642,Oral,NaN,None,0.0
...,...,...,...,...,...,...,...,...,...,...,...
313644553,19999987,23865745,36195440,86756.0,2145-11-03 04:00:00,2145-11-03 04:24:00,224642,Oral,NaN,None,0.0
313644735,19999987,23865745,36195440,90295.0,2145-11-02 23:24:00,2145-11-02 23:24:00,224642,Oral,NaN,None,0.0
313644811,19999987,23865745,36195440,90295.0,2145-11-02 23:41:00,2145-11-02 23:41:00,224642,Oral,NaN,None,0.0
313644876,19999987,23865745,36195440,91879.0,2145-11-04 20:00:00,2145-11-04 19:38:00,224642,Oral,NaN,None,0.0
313644991,19999987,23865745,36195440,91879.0,2145-11-04 21:00:00,2145-11-04 21:04:00,224642,Oral,NaN,None,0.0

In [25]:
temp.loc[
    chartevents["itemid"] == 223762,
    :
]

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
8521,10001884,26184834,37510196,36518.0,2131-01-12 07:00:00,2131-01-12 08:07:00,223762,36.7,36.7,°C,0.0
8532,10001884,26184834,37510196,36518.0,2131-01-12 08:00:00,2131-01-12 08:07:00,223762,36.7,36.7,°C,0.0
8740,10001884,26184834,37510196,36518.0,2131-01-12 09:00:00,2131-01-12 09:06:00,223762,37,37.0,°C,0.0
8747,10001884,26184834,37510196,36518.0,2131-01-12 10:00:00,2131-01-12 10:21:00,223762,36.9,36.9,°C,0.0
8793,10001884,26184834,37510196,36518.0,2131-01-12 11:00:00,2131-01-12 11:26:00,223762,36.9,36.9,°C,0.0
...,...,...,...,...,...,...,...,...,...,...,...
313599244,19998843,24842066,30988867,64147.0,2187-02-07 14:00:00,2187-02-07 14:36:00,223762,38.7,38.7,°C,0.0
313599278,19998843,24842066,30988867,64147.0,2187-02-07 15:00:00,2187-02-07 15:12:00,223762,38.6,38.6,°C,0.0
313599292,19998843,24842066,30988867,64147.0,2187-02-07 16:00:00,2187-02-07 16:18:00,223762,38.5,38.5,°C,0.0
313599369,19998843,24842066,30988867,64147.0,2187-02-07 17:00:00,2187-02-07 17:10:00,223762,38.5,38.5,°C,0.0
313599390,19998843,24842066,30988867,64147.0,2187-02-07 18:00:00,2187-02-07 18:01:00,223762,38.2,38.2,°C,0.0

# by CLIF tables

## `vitals`

### Routine Vital Signs

In [12]:
routine_vitals = ItemFinder("Routine Vital Signs", col = "category").candidate_table
routine_vitals

item label is Heart Rate
item label is Heart Rhythm
categories are ['SR (Sinus Rhythm)', 'ST (Sinus Tachycardia) ', 'AF (Atrial Fibrillation)', 'SB (Sinus Bradycardia)', 'V Paced', '1st AV (First degree AV Block) ', 'A Paced', 'AV Paced', 'A Flut (Atrial Flutter) ', 'RBBB (Right Bundle Branch Block) ', 'SA (Sinus Arrhythmia)', 'LBBB (Left Bundle Branch Block) ', 'JR (Junctional Rhythm)', '3rd AV (Complete Heart Block) ', 'SVT (Supra Ventricular Tachycardia)', '2nd AV W-M1 (Second degree AV Block Wenckebach - Mobitz1) ', 'JT (Junctional Tachycardia) ', 'WAP (Wandering atrial pacemaker)', '2nd AV M2 (Second degree AV Block - Mobitz 2) ', 'MAT (Multifocal atrial tachycardia)', 'VT (Ventricular Tachycardia) ', 'PAT (Paroxysmal Atrial Tachycardia)', 'Asystole', 'Idioventricular', 'VF (Ventricular Fibrillation) ', 'PJT (Paroxysmal Junctional Tachycardia) ']
item label is Ectopy Type 1
categories are ["PVC's", "PAC's", 'Vent. Bigeminy', 'Atrial Bigeminy', 'Vent. Trigeminy', 'Nod/Junc Escape', "PNC's", 'Vent. Escape', 'Fusion Beats', 'Atrial Trigeminy', 'V Quadrigenimy', 'Nodal Bigeminy', 'Nodal Trigeminy', 'A Quadrigeminy', 'N Quadrigeminy']
item label is Non Invasive Blood Pressure systolic
item label is Non Invasive Blood Pressure diastolic
item label is Non Invasive Blood Pressure mean
item label is Arterial Blood Pressure mean
item label is Arterial Blood Pressure systolic
item label is Arterial Blood Pressure diastolic
item label is Temperature Site
categories are ['Oral', 'Blood', 'Axillary', 'Rectal', 'Esophogeal', 'Temporal', 'Tympanic']
item label is Temperature Fahrenheit
item label is Ectopy Frequency 1
categories are ['Occasional', 'Rare', 'Frequent', 'Runs Vtach']
item label is Temperature Celsius
item label is ART BP Mean
item label is ART BP Systolic
item label is ART BP Diastolic
item label is Blood Temperature CCO (C)
item label is EtCO2
item label is Ectopy Type 2
categories are ["PVC's", "PAC's", 'Vent. Bigeminy', 'Vent. Trigeminy', 'Atrial Bigeminy', "PNC's", 'Fusion Beats', 'Nod/Junc Escape', 'V Quadrigenimy', 'Vent. Escape', 'Nodal Bigeminy', 'Atrial Trigeminy', 'Nodal Trigeminy', 'A Quadrigeminy']
item label is Arctic Sun Temp #1 Location
categories are ['Bladder', 'Esophogeal', 'Rectal', 'Not applicable', 'PA Cath']
item label is Arctic Sun/Alsius Temp #1 C
item label is Arctic Sun Temp #2 Location
categories are ['Rectal', 'Esophogeal', 'Bladder', 'Not applicable', 'PA Cath']
item label is Arctic Sun/Alsius Temp #2 C
item label is Ectopy Frequency 2
categories are ['Occasional', 'Rare', 'Frequent', 'Runs Vtach']
item label is PAR-Activity
categories are ['Able to move 4 extremities voluntarily or on command', 'Unable to move extremities voluntarily or on command', 'Able to move 2 extremities voluntarily or on command', 'N/A - pt to remain on neuromuscular blockade']
item label is PAR-Respiration
categories are ['Able to breathe deeply and cough', 'N/A - pt to remain on ventilator', 'Apneic or on mechanical ventilator', 'Dyspnea, limited breathing or tachypnea']
item label is PAR-Consciousness
categories are ['Arousable on calling', 'Fully awake', 'N/A - pt to remain sedated', 'Not responding']
item label is PAR-Circulation
categories are ['BP +/- 20% of pre-anesthesthetic level', 'BP +/- 20-40% of pre-anesthetic level', 'BP +/- 40% of pre-anesthetic level']
item label is PAR-Oxygen saturation
categories are ['Needs O2 inhalation to maintain O2 sat > 90%', 'Able to maintain O2 sat >92% on RA', 'O2 sat < 90% even with supplemental O2']
item label is Bladder Pressure
item label is PAR-Remain sedated
item label is QTc
item label is Manual Blood Pressure Systolic Left
item label is Manual Blood Pressure Diastolic Left
item label is Manual Blood Pressure Systolic Right
item label is Manual Blood Pressure Diastolic Right
item label is Pulsus Paradoxus
item label is Orthostatic BPs sitting
item label is Orthostatic BPd sitting
item label is Doppler BP
item label is Orthostatic BPs lying
item label is Orthostatic HR sitting
item label is Orthostatic BPd lying
item label is Orthostatic BPs standing
item label is Orthostatic BPd standing
item label is Orthostatic HR lying
item label is Orthostatic HR standing
item label is EtCO2 Clinical indication
categories are ['Tenuous respiratory status', 'Moderate sedation', 'Hemodynamic instability']
item label is Forehead SpO2 Sensor in Place
item label is Forehead Sensor Position Changed

,itemid,label,abbreviation,category,unitname,param_type,count,value_instances
2,220045,Heart Rate,HR,Routine Vital Signs,bpm,Numeric,6460839,"Max: 10000000.0, Min: -241395.0, Mean: 87.8015..."
5,220048,Heart Rhythm,Heart Rhythm,Routine Vital Signs,NaN,Text,5907987,"['SR (Sinus Rhythm)', 'ST (Sinus Tachycardia) ..."
772,224650,Ectopy Type 1,Ectopy Type 1,Routine Vital Signs,NaN,Text,5272404,"[""PVC's"", ""PAC's"", 'Vent. Bigeminy', 'Atrial B..."
24,220179,Non Invasive Blood Pressure systolic,NBPs,Routine Vital Signs,mmHg,Numeric,4067219,"Max: 1025100.0, Min: -69.0, Mean: 120.67245107..."
25,220180,Non Invasive Blood Pressure diastolic,NBPd,Routine Vital Signs,mmHg,Numeric,4066337,"Max: 114109.0, Min: -2.0, Mean: 66.418738289522"
26,220181,Non Invasive Blood Pressure mean,NBPm,Routine Vital Signs,mmHg,Numeric,4064537,"Max: 8888890.0, Min: -22767.0, Mean: 84.590976..."
8,220052,Arterial Blood Pressure mean,ABPm,Routine Vital Signs,mmHg,Numeric,2272013,"Max: 930000.0, Min: -135.0, Mean: 80.147497615..."
6,220050,Arterial Blood Pressure systolic,ABPs,Routine Vital Signs,mmHg,Numeric,2264001,"Max: 95119.0, Min: -94.0, Mean: 119.3417890414..."
7,220051,Arterial Blood Pressure diastolic,ABPd,Routine Vital Signs,mmHg,Numeric,2263647,"Max: 114100.0, Min: -40.0, Mean: 60.0630160091..."
767,224642,Temperature Site,Temp Site,Routine Vital Signs,NaN,Text,1842387,"['Oral', 'Blood', 'Axillary', 'Rectal', 'Esoph..."
337,223761,Temperature Fahrenheit,Temperature F,Routine Vital Signs,°F,Numeric,1515962,"Max: 234123.0, Min: -99.9, Mean: 98.7157890197..."
773,224651,Ectopy Frequency 1,Ectopy Frequency 1,Routine Vital Signs,NaN,Text,841843,"['Occasional', 'Rare', 'Frequent', 'Runs Vtach']"
338,223762,Temperature Celsius,Temperature C,Routine Vital Signs,°C,Numeric,264628,"Max: 987.4, Min: 0.0, Mean: 37.05203024169777"
1214,225312,ART BP Mean,ART BP Mean,Routine Vital Signs,mmHg,Numeric,230147,"Max: 8366.0, Min: -41.0, Mean: 77.91145224573859"
1212,225309,ART BP Systolic,ART BP Systolic,Routine Vital Signs,mmHg,Numeric,228488,"Max: 338.0, Min: -18.0, Mean: 113.9494095970029"
1213,225310,ART BP Diastolic,ART BP Diastolic,Routine Vital Signs,mmHg,Numeric,228417,"Max: 58196.0, Min: -40.0, Mean: 58.33865255213053"
1814,226329,Blood Temperature CCO (C),Blood Temp CCO (C),Routine Vital Signs,°C,Numeric,151805,"Max: 336.7, Min: 0.0, Mean: 37.07423083165904"
3086,228640,EtCO2,EtCO2,Routine Vital Signs,NaN,Numeric,87595,"Max: 2950460.0, Min: -62.0, Mean: 95.379354871..."
1849,226479,Ectopy Type 2,Ectopy Type 2,Routine Vital Signs,NaN,Text,52476,"[""PVC's"", ""PAC's"", 'Vent. Bigeminy', 'Vent. Tr..."
2331,227630,Arctic Sun Temp #1 Location,Arctic Sun Temp #1 Location,Routine Vital Signs,NaN,Text,47345,"['Bladder', 'Esophogeal', 'Rectal', 'Not appli..."
2333,227632,Arctic Sun/Alsius Temp #1 C,Arctic Sun/Alsius Temp #1 C,Routine Vital Signs,°C,Numeric,44539,"Max: 372.0, Min: 0.0, Mean: 35.83672947978176"
2332,227631,Arctic Sun Temp #2 Location,Arctic Sun Temp #2 Location,Routine Vital Signs,NaN,Text,44284,"['Rectal', 'Esophogeal', 'Bladder', 'Not appli..."
2334,227634,Arctic Sun/Alsius Temp #2 C,Arctic Sun/Alsius Temp #2 C,Routine Vital Signs,°C,Numeric,41562,"Max: 35000.2, Min: 0.0, Mean: 36.80467184687936"
1850,226480,Ectopy Frequency 2,Ectopy Frequency 2,Routine Vital Signs,NaN,Text,32571,"['Occasional', 'Rare', 'Frequent', 'Runs Vtach']"
2766,228229,PAR-Activity,PAR-Activity,Routine Vital Signs,NaN,Text,12425,['Able to move 4 extremities voluntarily or on...
2771,228234,PAR-Respiration,PAR-Respiration,Routine Vital Signs,NaN,Text,12413,"['Able to breathe deeply and cough', 'N/A - pt..."
2768,228231,PAR-Consciousness,PAR-Consciousness,Routine Vital Signs,NaN,Text,12401,"['Arousable on calling', 'Fully awake', 'N/A -..."
2767,228230,PAR-Circulation,PAR-Circulation,Routine Vital Signs,NaN,Text,12367,"['BP +/- 20% of pre-anesthesthetic level', 'BP..."
2769,228232,PAR-Oxygen saturation,PAR-Oxygen saturation,Routine Vital Signs,NaN,Text,12182,['Needs O2 inhalation to maintain O2 sat > 90%...
339,223763,Bladder Pressure,Bladder Pressure,Routine Vital Signs,mmHg,Numeric,8008,"Max: 321.0, Min: 0.0, Mean: 17.073676323676324"
2770,228233,PAR-Remain sedated,PAR-Remain sedated,Routine Vital Signs,NaN,Checkbox,7071,Checkbox
652,224359,QTc,QTc,Routine Vital Signs,sec,Numeric,2468,"Max: 604.0, Min: 0.0, Mean: 71.33270259319286"
575,224167,Manual Blood Pressure Systolic Left,Manual BPs L,Routine Vital Signs,mmHg,Numeric,1400,"Max: 248.0, Min: 0.0, Mean: 119.20642857142857"
768,224643,Manual Blood Pressure Diastolic Left,Manual BPd L,Routine Vital Signs,mmHg,Numeric,1296,"Max: 138.0, Min: -5.0, Mean: 64.27932098765432"
2155,227243,Manual Blood Pressure Systolic Right,Manual BPs R,Routine Vital Signs,mmHg,Numeric,1136,"Max: 240.0, Min: 3.0, Mean: 120.63116197183099"
2154,227242,Manual Blood Pressure Diastolic Right,Manual BPd R,Routine Vital Signs,mmHg,Numeric,1042,"Max: 136.0, Min: 7.0, Mean: 64.79846449136276"
592,224192,Pulsus Paradoxus,Pulsus Paradoxus,Routine Vital Signs,NaN,Numeric,639,"Max: 95.0, Min: 0.0, Mean: 10.089201877934272"
770,224646,Orthostatic BPs sitting,Orthostatic BPs sitting,Routine Vital Signs,mmHg,Numeric,576,"Max: 254.0, Min: 61.0, Mean: 122.15798611111111"
1749,226094,Orthostatic BPd sitting,Orthostatic BPd sitting,Routine Vital Signs,mmHg,Numeric,575,"Max: 134.0, Min: 15.0, Mean: 70.83826086956522"
574,224166,Doppler BP,Doppler BP,Routine Vital Signs,mmHg,Numeric,527,"Max: 160.0, Min: -4.0, Mean: 78.59582542694497"
769,224645,Orthostatic BPs lying,Orthostatic BPs lying,Routine Vital Signs,mmHg,Numeric,527,"Max: 266.0, Min: 69.0, Mean: 126.22960151802657"
341,223765,Orthostatic HR sitting,Orthostatic HR sitting,Routine Vital Signs,bpm,Numeric,526,"Max: 147.0, Min: 34.0, Mean: 85.74904942965779"
1748,226092,Orthostatic BPd lying,Orthostatic BPd lying,Routine Vital Signs,mmHg,Numeric,525,"Max: 131.0, Min: 32.0, Mean: 69.87428571428572"
342,223766,Orthostatic BPs standing,Orthostatic BPs standing,Routine Vital Signs,mmHg,Numeric,508,"Max: 207.0, Min: 57.0, Mean: 112.75590551181102"
1750,226096,Orthostatic BPd standing,Orthostatic BPd standing,Routine Vital Signs,mmHg,Numeric,506,"Max: 123.0, Min: 25.0, Mean: 68.96837944664031"
340,223764,Orthostatic HR lying,Orthostatic HR lying,Routine Vital Signs,bpm,Numeric,490,"Max: 1101.0, Min: 38.0, Mean: 83.54285714285714"
771,224647,Orthostatic HR standing,Orthostatic HR standing,Routine Vital Signs,bpm,Numeric,464,"Max: 159.0, Min: 38.0, Mean: 92.11422413793103"
3087,228641,EtCO2 Clinical indication,EtCO2 Clinical indication,Routine Vital Signs,NaN,Text,250,"['Tenuous respiratory status', 'Moderate sedat..."
3920,229862,Forehead SpO2 Sensor in Place,Forehead SpO2 Sensor in Place,Routine Vital Signs,NaN,Checkbox,35,Checkbox
3921,229863,Forehead Sensor Position Changed,Forehead Sensor Position Changed,Routine Vital Signs,NaN,Checkbox,31,Checkbox

### `respiratory_rate`

In [62]:
ItemFinder("respiratory rate").selected_items

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
28,220210,Respiratory Rate,RR,chartevents,Respiratory,insp/min,Numeric,NaN,NaN
799,224688,Respiratory Rate (Set),Respiratory Rate (Set),chartevents,Respiratory,insp/min,Numeric,NaN,NaN
800,224689,Respiratory Rate (spontaneous),Respiratory Rate (spontaneous),chartevents,Respiratory,insp/min,Numeric,NaN,NaN
801,224690,Respiratory Rate (Total),Respiratory Rate (Total),chartevents,Respiratory,insp/min,Numeric,NaN,36.0

In [64]:
find_summary_stats(224688)

Max: 1618.0, Min: -25.0, Mean: 18.738991028049398

### `temp_c`

In [67]:
find_value_instances(224027)

item label is Skin Temperature

Index(['Warm', 'Cool', 'Hot', 'Cold'], dtype='object', name='value')

In [ ]:
chartevents.loc[chartevents["charttime"] == "2180-07-23 20:00:00", :]

In [72]:
chartevents.loc[chartevents["caregiver_id"] == 66056.0, :]

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
9,10000032,29079034,39553978,66056.0,2180-07-23 19:00:00,2180-07-23 19:59:00,220045,97,97.0,bpm,0.0
10,10000032,29079034,39553978,66056.0,2180-07-23 19:00:00,2180-07-23 19:59:00,220179,93,93.0,mmHg,0.0
11,10000032,29079034,39553978,66056.0,2180-07-23 19:00:00,2180-07-23 19:59:00,220180,41,41.0,mmHg,0.0
12,10000032,29079034,39553978,66056.0,2180-07-23 19:00:00,2180-07-23 19:59:00,220181,56,56.0,mmHg,0.0
13,10000032,29079034,39553978,66056.0,2180-07-23 19:00:00,2180-07-23 19:59:00,220210,16,16.0,insp/min,0.0
...,...,...,...,...,...,...,...,...,...,...,...
313322602,19991135,29872770,33242276,66056.0,2133-07-08 07:00:00,2133-07-08 07:06:00,224650,PVC's,NaN,None,0.0
313322603,19991135,29872770,33242276,66056.0,2133-07-08 07:00:00,2133-07-08 07:06:00,224651,Occasional,NaN,None,0.0
313322604,19991135,29872770,33242276,66056.0,2133-07-08 07:01:00,2133-07-08 07:06:00,220179,166,166.0,mmHg,0.0
313322605,19991135,29872770,33242276,66056.0,2133-07-08 07:01:00,2133-07-08 07:06:00,220180,104,104.0,mmHg,0.0
313322606,19991135,29872770,33242276,66056.0,2133-07-08 07:01:00,2133-07-08 07:06:00,220181,122,122.0,mmHg,0.0

In [70]:
find_assoc_chartevets(224642)

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
18,10000032,29079034,39553978,66056.0,2180-07-23 20:00:00,2180-07-23 19:59:00,224642,Oral,NaN,None,0.0
160,10000032,29079034,39553978,88981.0,2180-07-23 14:00:00,2180-07-23 14:18:00,224642,Oral,NaN,None,0.0
370,10000032,29079034,39553978,88981.0,2180-07-23 17:00:00,2180-07-23 17:03:00,224642,Oral,NaN,None,0.0
551,10000980,26913865,39765666,36518.0,2189-06-27 09:07:00,2189-06-27 09:07:00,224642,Axillary,NaN,None,0.0
733,10000980,26913865,39765666,36518.0,2189-06-27 12:00:00,2189-06-27 12:53:00,224642,Oral,NaN,None,0.0
...,...,...,...,...,...,...,...,...,...,...,...
313644553,19999987,23865745,36195440,86756.0,2145-11-03 04:00:00,2145-11-03 04:24:00,224642,Oral,NaN,None,0.0
313644735,19999987,23865745,36195440,90295.0,2145-11-02 23:24:00,2145-11-02 23:24:00,224642,Oral,NaN,None,0.0
313644811,19999987,23865745,36195440,90295.0,2145-11-02 23:41:00,2145-11-02 23:41:00,224642,Oral,NaN,None,0.0
313644876,19999987,23865745,36195440,91879.0,2145-11-04 20:00:00,2145-11-04 19:38:00,224642,Oral,NaN,None,0.0
313644991,19999987,23865745,36195440,91879.0,2145-11-04 21:00:00,2145-11-04 21:04:00,224642,Oral,NaN,None,0.0

### `map`

In [10]:
ItemFinder("map", col="abbr").candidate_table

item label is IABP Mean
item label is MapApacheIIScore
item label is PotassiumApacheIIScore
item label is SodiumApacheIIScore
item label is MapApacheIIValue
item label is PotassiumApacheIIValue
item label is SodiumApacheIIValue
item label is MapScore_ApacheIV
item label is MAP_ApacheIV

,itemid,label,abbreviation,category,unitname,param_type,count,value_instances
635,224322,IABP Mean,MAP - Assisted,IABP,mmHg,Numeric,31605,"Max: 701.0, Min: 0.0, Mean: 80.09030216737858"
1975,226765,MapApacheIIScore,MapApacheIIScore,Scores - APACHE II,NaN,Numeric,19,"Max: 4.0, Min: 0.0, Mean: 1.7894736842105263"
1981,226771,PotassiumApacheIIScore,PotassiumApacheIIScore,Scores - APACHE II,NaN,Numeric,19,"Max: 1.0, Min: 0.0, Mean: 0.2631578947368421"
1985,226775,SodiumApacheIIScore,SodiumApacheIIScore,Scores - APACHE II,NaN,Numeric,19,"Max: 1.0, Min: 0.0, Mean: 0.10526315789473684"
1976,226766,MapApacheIIValue,MapApacheIIValue,Scores - APACHE II,mmHg,Numeric,18,"Max: 124.0, Min: 25.0, Mean: 62.611111111111114"
1982,226772,PotassiumApacheIIValue,PotassiumApacheIIValue,Scores - APACHE II,NaN,Numeric,17,"Max: 5.0, Min: 3.0, Mean: 3.9647058823529413"
1986,226776,SodiumApacheIIValue,SodiumApacheIIValue,Scores - APACHE II,NaN,Numeric,17,"Max: 150.0, Min: 136.0, Mean: 142.05882352941177"
2067,227024,MapScore_ApacheIV,MapScore_ApacheIV,Scores - APACHE IV (2),NaN,Numeric,8,"Max: 15.0, Min: 0.0, Mean: 7.75"
2066,227023,MAP_ApacheIV,MAP_ApacheIV,Scores - APACHE IV (2),mmHg,Numeric,7,"Max: 122.0, Min: 54.0, Mean: 73.85714285714286"

In [11]:
ItemFinder("Mean art").candidate_table

Empty DataFrame
Columns: [itemid, label, abbreviation, category, unitname, param_type, count, value_instances]
Index: []

### sbp

In [6]:
ItemFinder("systolic").create_candidate_table()

,itemid,label,abbreviation,category,unitname,param_type,count
24,220179,Non Invasive Blood Pressure systolic,NBPs,Routine Vital Signs,mmHg,Numeric,4067219.0
6,220050,Arterial Blood Pressure systolic,ABPs,Routine Vital Signs,mmHg,Numeric,2264001.0
11,220059,Pulmonary Artery Pressure systolic,PAPs,Hemodynamics,mmHg,Numeric,309026.0
1212,225309,ART BP Systolic,ART BP Systolic,Routine Vital Signs,mmHg,Numeric,228488.0
2694,228152,Aortic Pressure Signal - Systolic,Aortic Pressure Signal - Systolic,Impella,mmHg.,Numeric,8684.0
575,224167,Manual Blood Pressure Systolic Left,Manual BPs L,Routine Vital Signs,mmHg,Numeric,1400.0
2155,227243,Manual Blood Pressure Systolic Right,Manual BPs R,Routine Vital Signs,mmHg,Numeric,1136.0
3778,229669,Pulmonary Atrtery Pressure Signal - Systolic,Pulmonary Artery Pressure Signal - Systolic,Impella,mmHg.,Numeric,848.0
1995,226850,RV systolic pressure(PA Line),RV systolic pressure(PA Line),PA Line Insertion,mmHg,Numeric,NaN
1997,226852,PA systolic pressure(PA Line),PA systolic pressure(PA Line),PA Line Insertion,mmHg,Numeric,NaN
3954,229899,Left Ventricular Pressure Signal - Systolic,Left Ventricular Pressure Signal - Systolic,Impella,mmHg,Numeric,NaN

### dbp

In [5]:
ItemFinder("diastolic").create_candidate_table()

,itemid,label,abbreviation,category,unitname,param_type,count
25,220180,Non Invasive Blood Pressure diastolic,NBPd,Routine Vital Signs,mmHg,Numeric,4066337.0
7,220051,Arterial Blood Pressure diastolic,ABPd,Routine Vital Signs,mmHg,Numeric,2263647.0
12,220060,Pulmonary Artery Pressure diastolic,PAPd,Hemodynamics,mmHg,Numeric,309126.0
1213,225310,ART BP Diastolic,ART BP Diastolic,Routine Vital Signs,mmHg,Numeric,228417.0
2693,228151,Aortic Pressure Signal - Diastolic,Aortic Pressure Signal - Diastolic,Impella,mmHg.,Numeric,8678.0
768,224643,Manual Blood Pressure Diastolic Left,Manual BPd L,Routine Vital Signs,mmHg,Numeric,1296.0
2154,227242,Manual Blood Pressure Diastolic Right,Manual BPd R,Routine Vital Signs,mmHg,Numeric,1042.0
3777,229668,Pulmonary Artery Pressure Signal - Diastolic,Pulmonary Artery Pressure Signal - Diastolic,Impella,mmHg.,Numeric,849.0
1996,226851,RV diastolic pressure(PA Line),RV diastolic pressure(PA Line),PA Line Insertion,mmHg,Numeric,NaN
1998,226853,PA diastolic pressure(PA Line),PA diastolic pressure(PA Line),PA Line Insertion,mmHg,Numeric,NaN
3955,229900,Left Ventricular Pressure Signal - Diastolic,Left Ventricular Pressure Signal - Diastolic,Impella,mmHg,Numeric,NaN

### `pulse`

In [8]:
ItemFinder('pulse', col="abbr").create_candidate_table()

,itemid,label,abbreviation,category,unitname,param_type,count
430,223934,Dorsal PedPulse R,Dorsal PedPulse R,Cardiovascular (Pulses),NaN,Text,1027492
438,223943,Dorsal PedPulse L,Dorsal PedPulse L,Cardiovascular (Pulses),NaN,Text,1013331
431,223935,PostTib. Pulses R,PostTib Pulses R,Cardiovascular (Pulses),NaN,Text,757423
442,223947,PostTib. Pulses L,PostTib Pulses L,Cardiovascular (Pulses),NaN,Text,744884
432,223936,Radial Pulse R,Radial Pulse R,Cardiovascular (Pulses),NaN,Text,514582
443,223948,Radial Pulse L,Radial Pulse L,Cardiovascular (Pulses),NaN,Text,505331
433,223938,Ulnar Pulse R,Ulnar Pulse R,Cardiovascular (Pulses),NaN,Text,20949
444,223949,Ulnar Pulse L,Ulnar Pulse L,Cardiovascular (Pulses),NaN,Text,18107
435,223940,Femoral Pulse R,Femoral Pulse R,Cardiovascular (Pulses),NaN,Text,13552
434,223939,Brachial Pulse R,Brachial Pulse R,Cardiovascular (Pulses),NaN,Text,12171
439,223944,Brachial Pulse L,Brachial Pulse L,Cardiovascular (Pulses),NaN,Text,11686
440,223945,Femoral Pulse L,Femoral Pulse L,Cardiovascular (Pulses),NaN,Text,10806
437,223942,Graft/Flap Pulse,Graft/Flap Pulse,Cardiovascular,NaN,Text,10106
436,223941,Popliteal Pulse R,Popliteal Pulse R,Cardiovascular (Pulses),NaN,Text,9394
441,223946,Popliteal Pulse L,Popliteal Pulse L,Cardiovascular (Pulses),NaN,Text,8762
2734,228194,Peripheral Pulses (Tandem Heart),Peripheral Pulses (Tandem Heart),Tandem Heart,NaN,Text,5311
3857,229770,Resting Pulse Rate (COWS),Resting Pulse Rate,Toxicology,NaN,Text,248

In [25]:
ItemFinder('heart rate').create_candidate_table()

,itemid,label,abbreviation,category,unitname,param_type,count
2,220045,Heart Rate,HR,Routine Vital Signs,bpm,Numeric,6460839
4,220047,Heart Rate Alarm - Low,HR Alarm - Low,Alarms,bpm,Numeric,627396
3,220046,Heart rate Alarm - High,HR Alarm - High,Alarms,bpm,Numeric,627111

In [76]:
find_value_instances(223934)

item label is Dorsal PedPulse R

Index(['Easily Palpable', 'Doppler', 'Weak Palpable', 'Strong/Palpable',
       'Difficult to Palpate', 'Absent', 'Not Applicable'],
      dtype='object', name='value')

In [37]:
ItemFinder.find_value_instances(229770)

item label is Resting Pulse Rate (COWS)

Index(['Pulse rate 80 or below', 'Pulse rate 81-100', 'Pulse rate 101-120',
       'Pulse rate greater than 120'],
      dtype='object', name='value')

### spo2

In [10]:
ItemFinder('spo2', col = "abbr").create_candidate_table()

,itemid,label,abbreviation,category,unitname,param_type,count
36,220277,O2 saturation pulseoxymetry,SpO2,Respiratory,%,Numeric,6324341
346,223770,O2 Saturation Pulseoxymetry Alarm - Low,SpO2 Alarm - Low,Alarms,%,Numeric,622764
345,223769,O2 Saturation Pulseoxymetry Alarm - High,SpO2 Alarm - High,Alarms,%,Numeric,619601
1810,226253,SpO2 Desat Limit,SpO2 Desat Limit,Alarms,%,Numeric,600821
3920,229862,Forehead SpO2 Sensor in Place,Forehead SpO2 Sensor in Place,Routine Vital Signs,NaN,Checkbox,35

### `height_inches`

In [12]:
ItemFinder("height").create_candidate_table()

      itemid        label abbreviation category unitname param_type  count
1941  226707       Height       Height  General     Inch    Numeric  33707
1945  226730  Height (cm)  Height (cm)  General       cm    Numeric  33707

## `labs`

In [13]:
ItemFinder("protein").create_candidate_table()

,itemid,label,abbreviation,category,unitname,param_type,count
2205,227444,C Reactive Protein (CRP),C Reactive Protein (CRP),Labs,NaN,Numeric with tag,2749.0
157,220650,Total Protein,Total Protein,Labs,NaN,Numeric,2478.0
1794,226184,Estimated Protein Needs/Kg,Estimated Protein Needs/Kg,General,g/kg,Numeric,450.0
93,220454,Protein,Protein,Ingredients,grams,Ingredient,NaN
148,220612,ZC Reactive Protein (CRP),ZC Reaction Protein (CRP),Labs,NaN,Numeric,NaN
1667,225970,Beneprotein,Beneprotein,Nutrition - Enteral,grams,Solution,NaN
3514,229296,Vital High Protein (Full),Vital High Protein (Full),Nutrition - Enteral,mL,Solution,NaN
3713,229583,Beneprotein.,Beneprotein.,Nutrition - Supplements,mL,Solution,NaN

## `respiratory_support`

In [11]:
resp_df = ItemFinder("Respiratory", col="category").candidate_table
resp_df

item label is Respiratory Rate
value instances are Max: 2355560.0, Min: 0.0, Mean: 20.459964592066456
item label is O2 saturation pulseoxymetry
value instances are Max: 9900000.0, Min: -272.0, Mean: 104.82763597187437
item label is O2 Delivery Device(s)
value instances are ['Endotracheal tube', 'Nasal cannula', 'Tracheostomy tube', 'Aerosol-cool', 'Face tent', 'Trach mask ', 'High flow nasal cannula', 'Bipap mask ', 'High flow neb', 'Non-rebreather', 'CPAP mask ', 'Venti mask ', 'Other', 'Medium conc mask ', 'Oxymizer', 'T-piece', 'Ultrasonic neb', 'Vapomist']
item label is Inspired O2 Fraction
value instances are Max: 10050.0, Min: 0.0, Mean: 48.94540639505812
item label is PEEP set
value instances are Max: 8774580.0, Min: -5.0, Mean: 26.214116360816025
item label is Tidal Volume (observed)
value instances are Max: 709461.0, Min: 0.0, Mean: 470.8951592275197
item label is Minute Volume
value instances are Max: 18918.4, Min: 0.0, Mean: 9.379572454568208
item label is Mean Airway Pressure
value instances are Max: 257708.0, Min: -1.0, Mean: 10.914437783590904
item label is Respiratory Rate (spontaneous)
value instances are Max: 2843.0, Min: 0.0, Mean: 11.168484317268398
item label is Peak Insp. Pressure
value instances are Max: 3333330.0, Min: 0.0, Mean: 29.73322669565024
item label is O2 Flow
value instances are Max: 1210.0, Min: -1.0, Mean: 6.7642977566304845
item label is Apnea Interval
value instances are Max: 7777780.0, Min: 0.0, Mean: 34.44325402328339
item label is Paw High
value instances are Max: 350000.0, Min: 0.0, Mean: 41.448276216093404
item label is Ventilator Type
value instances are ['Drager', 'Hamilton', 'Avea', 'Other', 'BiPAP/CPAP', 'Respironics BiPAP', 'Sensor Medic (HFO)', 'PB 7200']
item label is Vti High
value instances are Max: 85035.0, Min: 0.0, Mean: 335.533600040964
item label is Humidification
value instances are ['Active', 'HME']
item label is Respiratory Rate (Total)
value instances are Max: 3634.0, Min: -1.0, Mean: 21.138933571706293
item label is Flow Pattern
value instances are ['Variable', 'Sq.']
item label is Flow Sensitivity
value instances are ['On', 'Off']
item label is Fspn High
value instances are Max: 3333330.0, Min: -1.0, Mean: 37.11243733828181
item label is Slope
value instances are ['On', 'Off']
item label is Flow Rate (variable/fixed)
value instances are ['Variable', 'Fixed']
item label is ETT Mark (cm)
value instances are ['23cm', '22cm', '21cm', '24cm', '25cm', '20cm', 'Not applicable', '26cm', '19cm', '27cm', '18cm', '28cm', '29cm', '30cm']
item label is ETT Location
value instances are ['Oral-R', 'Oral Center', 'Oral-L', 'Not applicable', 'Nasal-R', 'Nasal-L', 'Stoma']
item label is ETT Size (ID)
value instances are ['7.5mm', '8mm', '7mm', 'Not applicable', '6.5mm', '8.5mm', '6mm', '9mm', '5.5mm', '5mm', '10mm', '4mm', '9.5mm', '4.5mm']
item label is ETT Type
value instances are ['Standard', 'Not applicable', 'High/Low Evac', 'Double Lumen', 'Wire Reinforced ', 'Foam Cuffed']
item label is Ventilator Mode
value instances are ['CPAP/PSV', 'CMV/ASSIST/AutoFlow', 'CMV/ASSIST', 'MMV/PSV/AutoFlow', 'Standby', 'PSV/SBT', 'PRVC/AC', 'PCV+Assist', 'CPAP/PSV+ApnVol', 'SIMV/PSV/AutoFlow', 'MMV/PSV', 'CPAP', 'APRV', 'CMV/AutoFlow', 'CPAP/PPS', 'CPAP/PSV+ApnPres', 'VOL/AC', 'PCV+', 'CMV', 'PCV+/PSV', 'PRES/AC', 'SIMV/PSV', 'APV (cmv)', 'SPONT', 'MMV', 'Apnea Ventilation', 'APRV/Biphasic+ApnVol', 'MMV/AutoFlow', 'APRV/Biphasic+ApnPress', 'SIMV/PRES', 'PRVC/SIMV', 'Ambient', 'SIMV', 'SIMV/AutoFlow', 'SYNCHRON MASTER', 'CPAP/PSV+Apn TCPL', 'SIMV/VOL', 'SYNCHRON SLAVE', 'P-CMV', '(S) CMV']
item label is Sputum Amount
value instances are ['Small', 'Moderate', 'Scant ', 'Copious']
item label is Sputum Source
value instances are ['Suctioned', 'Expectorated', 'Nasotrachial Suction']
item label is Sputum Color
value instances are ['White ', 'Yellow', 'Tan', 'Blood Tinged', 'Clear', 'Bloody ', 'Brown ', 'Rusty', 'Green ']
item label is Inspired Gas Temp.
value instances are Max: 999568.0, Min: 0.0, Mean: 44.577616945914954
item label is Sputum Consistency
value instances are ['Thick', 'Thin', 'Frothy', 'Tenacious', 'Plug']
item label is Known difficult intubation
value instances are ['No', 'Unknown', 'Yes']
item label is Respiratory Rate (Set)
value instances are Max: 1618.0, Min: -25.0, Mean: 18.738991028049398
item label is Tidal Volume (set)
value instances are Max: 6500.0, Min: 0.0, Mean: 441.9061405190548
item label is Inspiratory Time
value instances are Max: 3137620.0, Min: -0.2, Mean: 10.605056573449744
item label is Tidal Volume (spontaneous)
value instances are Max: 820914.0, Min: 0.0, Mean: 509.95814823973507
item label is PSV Level
value instances are Max: 52000.0, Min: -2.0, Mean: 8.199915483350862
item label is Humidifier Water % Fill Level
value instances are ['50', '75', '25', '100']
item label is Humidifier Water Changed
value instances are ['No', 'Yes']
item label is Plateau Pressure
value instances are Max: 4812.0, Min: 0.0, Mean: 20.467757102177174
item label is Expiratory Ratio
value instances are Max: 151576.0, Min: 0.0, Mean: 3.8787156792159228
item label is Inspiratory Ratio
value instances are Max: 3000.0, Min: -1.0, Mean: 1.0601890847384934
item label is Ventilator Mode (Hamilton)
value instances are ['APV (cmv)', 'SPONT', 'ASV', 'VS', 'P-CMV', 'NIV', 'Ambient', '(S) CMV', 'APRV', 'NIV-ST', 'APV (simv)', 'SIMV', 'P-SIMV', 'DuoPaP', 'nCPAP-PS']
item label is Ventilator Tank #1
value instances are Max: 3000300.0, Min: 0.0, Mean: 2088.1594269448137
item label is Ventilator Tank #2
value instances are Max: 1201100.0, Min: 0.0, Mean: 2068.353633832865
item label is Flow Rate (L/min)
value instances are Max: 377.0, Min: -1.0, Mean: 45.62098866539643
item label is Total PEEP Level
value instances are Max: 535.0, Min: -24.0, Mean: 8.390623384712377
item label is Trach Tube Type
value instances are ['Perc Trach ', 'Cuffed', 'Standard', 'Inner Cannula', 'TTS (Tight to Shaft)', 'Adjustable Neck Flange', 'Extra Length', 'Uncuffed', 'Wire Reinforced', 'Not applicable', 'Foam Cuff', 'Fenestrated']
item label is ETT Mark (location)
value instances are ['Incisor', 'L Nare', 'R Nare']
item label is Trach Tube Manufacturer
value instances are ['Portex', 'Bivona', 'Shiley', 'Not applicable', 'Boston Med']
item label is Trach Tube Size (I.D.)
value instances are ['8.0mm', '7.0mm', '6.0mm', '9.0mm', 'Not applicable', '5.0mm', '10.0mm', '4.0mm']
item label is MDI #1 Drug
value instances are ['Albuterol', 'Albuterol & Atrovent', 'Atrovent', 'Fluticasone', 'Other', 'Beclomethasone']
item label is Cuff Pressure
value instances are Max: 287.0, Min: 0.0, Mean: 26.804235691965243
item label is Small Volume Neb Drug/Dose #1
value instances are ['Albuterol 0.083% unit', 'Atrovent 0.02% dose']
item label is MDI #1 Puff
value instances are Max: 6262.0, Min: -8.0, Mean: 5.6009611139840825
item label is Pminimum
value instances are Max: 490.0, Min: -73.0, Mean: 5.895092226613966
item label is MDI #2 Drug
value instances are ['Atrovent', 'Albuterol', 'Fluticasone', 'Beclomethasone', 'Albuterol & Atrovent', 'Other']
item label is Pinsp (Hamilton)
value instances are Max: 64.0, Min: 0.0, Mean: 11.436215566429066
item label is RCexp (Measured Time Constant)
value instances are Max: 5.53, Min: 0.0, Mean: 0.6206202728844605
item label is Compliance
value instances are Max: 200.0, Min: 0.0, Mean: 60.69956824992249
item label is Resistance Exp
value instances are Max: 84.0, Min: 0.0, Mean: 10.895561448364026
item label is Resistance Insp
value instances are Max: 234.0, Min: 0.0, Mean: 12.775529852428598
item label is RSBI Deferred
value instances are ['PEEP =/> 10', 'No Spon Resp', 'Hemodynamic Instability', 'OR/Procedure', 'FiO2 > 60%', 'Vent Dependant', 'RR >35', 'Agitated', 'Unstable Airway', 'Neuromusc Block', 'CMO', 'Sao2 < 90%', 'Elevated ICP', 'Active Isch/Arrth', 'Unstable Spine']
item label is CO2 production
value instances are Max: 1104.0, Min: 0.0, Mean: 192.42628563914883
item label is Trach Care
item label is SBT Started
value instances are ['Yes', 'No']
item label is MDI #2 Puff
value instances are Max: 96.0, Min: 0.0, Mean: 5.4795112349497685
item label is O2 Flow (additional cannula)
value instances are Max: 435.0, Min: 0.0, Mean: 5.227123077323478
item label is Spont RR
value instances are Max: 821.0, Min: 0.0, Mean: 21.69989936737581
item label is Spont Vt
value instances are Max: 1800.0, Min: -50.0, Mean: 423.51727290203723
item label is Airway Type
value instances are ['Oral', 'Nasal trumpet', 'Nasotracheal']
item label is SBT Successfully Completed
value instances are ['Yes', 'No']
item label is ETT Position Change
item label is Passey Muir Valve in use
value instances are ['No', 'Yes']
item label is SBT Deferred
value instances are ['Unable to perform RSBI', 'Chronic vent dependent patient', 'Pending procedure ', 'RSBI > 105']
item label is NIV Mask
value instances are ['Not applicable', 'Full', 'Nasal']
item label is ETT Re-taped
item label is BiPap Mask
value instances are ['Oral/Nasal', 'Total face', 'Nasal', 'Pillows', 'Not applicable']
item label is BiPap Mode
value instances are ['Spontaneous (S)', 'Spontaneous/Timed (S/T) (Back up)', 'Not applicable', 'Timed (T)']
item label is BiPap EPAP
value instances are Max: 136.0, Min: 0.0, Mean: 7.367685054219708
item label is BiPap IPAP
value instances are Max: 45.0, Min: 0.0, Mean: 13.283781379719311
item label is BiPap O2 Flow
value instances are Max: 100.0, Min: 0.0, Mean: 6.749544257646344
item label is % Minute Volume
value instances are Max: 1300.0, Min: 0.0, Mean: 115.80371759514617
item label is Cuff Volume (mL)
value instances are Max: 60.0, Min: -8.0, Mean: 4.850973366774155
item label is Cont Neb - Med
value instances are ['Other', 'Albuterol']
item label is Autoset/CPAP
value instances are ['On', 'Off']
item label is Small Volume Neb Drug #2
value instances are ['Other', 'Racemic Epi', 'Tobramycin (tobi)', 'Pentamidine ']
item label is Cont. Neb Med Dose
value instances are ['Other', '10 mg/hour', '5 mg/hour', '15 mg/hour', '20 mg/hour']
item label is Transpulmonary Pressure (Exp. Hold)
value instances are Max: 60.0, Min: -66.0, Mean: 0.4410353265025233
item label is Transpulmonary Pressure (Insp. Hold)
value instances are Max: 76.0, Min: -39.0, Mean: 9.639157094070164
item label is Pinsp (Draeger only)
value instances are Max: 285.0, Min: 0.0, Mean: 26.858565408038977
item label is SBT Stopped
value instances are ['RR > 35 for > 5 min', 'Accessory muscle use', 'SpO2 < 90% for > 2 min', 'BP > 180 or < 90', 'HR > 140', 'Arrythmia']
item label is PCV Level
value instances are Max: 2500.0, Min: -3.0, Mean: 18.478214665249734
item label is Airway Location
value instances are ['Oral', 'Not applicable', 'L Nare', 'R Nare']
item label is Cuff Volume/units
value instances are ['Air', 'H2O', 'Foam']
item label is Airway Size (mm)
value instances are ['Not applicable', '8.0', '7.0', '9.0', '7.5']
item label is MDI #3 Drug
value instances are ['Fluticasone', 'Atrovent', 'Beclomethasone', 'Other', 'Albuterol', 'Albuterol & Atrovent']
item label is Negative Insp. Force
value instances are Max: 0.0, Min: -80.0, Mean: -34.96194244604317
item label is P High (APRV)
value instances are Max: 3131.0, Min: 0.0, Mean: 29.041395170563433
item label is T High (APRV)
value instances are Max: 1000.0, Min: 0.0, Mean: 8.794720496894408
item label is P Low (APRV)
value instances are Max: 1200.0, Min: 0.0, Mean: 8.309549164399535
item label is T Low (APRV)
value instances are Max: 50.0, Min: 0.0, Mean: 0.8551196547665753
item label is PeCO2
value instances are Max: 430.0, Min: -3.0, Mean: 33.913448095983306
item label is MDI #3 Puff
value instances are Max: 15.0, Min: 0.0, Mean: 3.171137339055794
item label is Airway problems
value instances are ['P > 30cm/H2O', 'Positional leak around cuff', 'No leak with cuff down', 'Cuff / valve leak']
item label is Vital Cap
value instances are Max: 2500.0, Min: -45.0, Mean: 114.3491699875467
item label is Small Volume Neb Dose #2
value instances are Max: 1200.0, Min: -1.0, Mean: 14.320898826979471
item label is Nitric Oxide
value instances are Max: 80.0, Min: 0.0, Mean: 19.06875968992248
item label is In-line Suction Catheter Changed
item label is Circuit Changed
value instances are ['Yes', 'No']
item label is Nitric Oxide Tank Pressure
value instances are Max: 2800.0, Min: 0.0, Mean: 1178.250269687163
item label is BiPap bpm (S/T -Back up)
value instances are Max: 22.0, Min: 0.0, Mean: 10.139130434782608
item label is ATC %
value instances are Max: 100.0, Min: -1.0, Mean: 95.90615835777126
item label is Recruitment Duration
value instances are Max: 402.0, Min: 0.0, Mean: 35.249618320610686
item label is ATC Tube #
value instances are ['7.5', '7', '8', '6.5', '6', '9', '5.5', '5']
item label is ETT Re-taped
value instances are ['Yes', 'No']
item label is Recruitment Mode
value instances are ['APRV', 'CPAP']
item label is Recruitment Press
value instances are Max: 300.0, Min: 0.0, Mean: 31.238010657193605
item label is ETT Position Change
value instances are ['Done', 'Not Done']
item label is Small Volume Neb Drug #1
value instances are ['Atrovent 0.02% dose', 'Albuterol 0.083% unit']
item label is Heliox
value instances are ['6 liters', '8 liters', 'Flush', '5 liters', '10 liters', '7 liters', '11 liters', '9 liters']
item label is Peak Exp Flow Rate
value instances are Max: 550.0, Min: 0.0, Mean: 237.03121212121212
item label is Vd/Vt Ratio
value instances are Max: 90.0, Min: 0.0, Mean: 54.559799999999996
item label is Resistance
value instances are Max: 58.0, Min: 13.0, Mean: 20.494444444444444
item label is O2 Consumption
value instances are Max: 462.0, Min: 46.0, Mean: 256.0
item label is Respiratory Quotient
value instances are Max: 0.9, Min: 0.9, Mean: 0.9
item label is Resting Energy Expenditure
value instances are Max: 1.0, Min: 1.0, Mean: 1.0
item label is Intubation - Details
value instances are ['Complicated']
item label is Vital Capacity
value instances are Max: nan, Min: nan, Mean: nan
item label is Rate
value instances are []
item label is Additional Settings
value instances are []
item label is Wean
value instances are []
item label is Physio
value instances are []
item label is ZAuto Peep Level
value instances are Max: nan, Min: nan, Mean: nan
item label is ZATC Tube #
value instances are Max: nan, Min: nan, Mean: nan
item label is RR > 35 for > 5 min
value instances are []
item label is SaO2 < 90% > 2 min
value instances are []
item label is Arrythmia
value instances are []
item label is HR > 140
value instances are []
item label is Accessory Muscle Use
value instances are []
item label is Cont Neb - Dose (mg/hr/drug)
value instances are Max: nan, Min: nan, Mean: nan
item label is ZTrach Care
value instances are []
item label is ETT Position (cm at teeth)
value instances are Max: nan, Min: nan, Mean: nan
item label is ETT Route
value instances are []
item label is PF Ratio Value
value instances are Max: nan, Min: nan, Mean: nan
item label is SF Ratio Value
value instances are Max: nan, Min: nan, Mean: nan
item label is PF Value
value instances are Max: nan, Min: nan, Mean: nan
item label is PFImputedValue
value instances are Max: nan, Min: nan, Mean: nan
item label is PFRatio_Value
value instances are Max: nan, Min: nan, Mean: nan
item label is PFImputedRatio_Value
value instances are Max: nan, Min: nan, Mean: nan
item label is Inner Cannula Change
item label is Machine checked (Anes)
item label is Leak test done (Anes)
item label is Filters checked
item label is Circuit changed (Anes)
item label is Filters checked (Anes)
item label is Absorbent changed (Anes)
item label is Filters changed (Anes)
item label is Vaporizer filled (Anes)
item label is Vaporizer checked (Anes)
item label is Amsorb changed (Anes)
item label is Intellivent (Hamilton Vent Mode)

,itemid,label,abbreviation,linksto,category,unitname,param_type,count,value_instances
28,220210,Respiratory Rate,RR,chartevents,Respiratory,insp/min,Numeric,6393762.0,"Max: 2355560.0, Min: 0.0, Mean: 20.45996459206..."
36,220277,O2 saturation pulseoxymetry,SpO2,chartevents,Respiratory,%,Numeric,6324341.0,"Max: 9900000.0, Min: -272.0, Mean: 104.8276359..."
1946,226732,O2 Delivery Device(s),O2 Delivery Device(s),chartevents,Respiratory,NaN,Text,1536870.0,"['Endotracheal tube', 'Nasal cannula', 'Trache..."
384,223835,Inspired O2 Fraction,FiO2,chartevents,Respiratory,NaN,Numeric,849875.0,"Max: 10050.0, Min: 0.0, Mean: 48.94540639505812"
40,220339,PEEP set,PEEP set,chartevents,Respiratory,cmH2O,Numeric,642089.0,"Max: 8774580.0, Min: -5.0, Mean: 26.2141163608..."
...,...,...,...,...,...,...,...,...,...
3969,229992,Filters changed (Anes),Filters changed (Anes),chartevents,Respiratory,NaN,Checkbox,NaN,Checkbox
3970,229993,Vaporizer filled (Anes),Vaporizer filled (Anes),chartevents,Respiratory,NaN,Checkbox,NaN,Checkbox
3971,229994,Vaporizer checked (Anes),Vaporizer checked (Anes),chartevents,Respiratory,NaN,Checkbox,NaN,Checkbox
3972,229995,Amsorb changed (Anes),Amsorb changed (Anes),chartevents,Respiratory,NaN,Checkbox,NaN,Checkbox
3986,230045,Intellivent (Hamilton Vent Mode),Intellivent (Hamilton Vent Mode),chartevents,Respiratory,NaN,Checkbox,NaN,Checkbox