In [2]:
cd ..

/Users/wliao0504/code/clif/CLIF-MIMIC

/Users/wliao0504/code/clif/CLIF-MIMIC/.venv/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [3]:
pwd

'/Users/wliao0504/code/clif/CLIF-MIMIC'

In [5]:
# src/tables/patient.py
import numpy as np
import pandas as pd
import duckdb
import logging
from importlib import reload
import src.utils
reload(src.utils)
from src.utils import construct_mapper_dict, load_mapping_csv, \
    rename_and_reorder_cols, save_to_rclif, setup_logging, mimic_table_pathfinder,  \
    clif_table_pathfinder, read_from_rclif

loaded configuration from /Users/wliao0504/code/clif/CLIF-MIMIC/src/../config/config.json
loaded configuration from /Users/wliao0504/code/clif/CLIF-MIMIC/src/../config/config.json

In [6]:
adt = read_from_rclif("adt")

In [7]:
adt

,patient_id,hospitalization_id,hospital_id,in_dttm,out_dttm,location_name,location_category,location_type
0,10000032,22595853,<NA>,2180-05-07 00:17:00+00:00,2180-05-07 04:30:00+00:00,Emergency Department,ed,None
1,10000032,22595853,<NA>,2180-05-07 04:30:00+00:00,2180-05-07 22:21:27+00:00,Transplant,ward,None
2,10000032,22841357,<NA>,2180-06-27 02:31:00+00:00,2180-06-27 23:49:12+00:00,Transplant,ward,None
3,10000032,22841357,<NA>,2180-06-26 20:54:00+00:00,2180-06-27 02:31:00+00:00,Emergency Department,ed,None
4,10000032,25742920,<NA>,2180-08-06 06:44:00+00:00,2180-08-07 22:50:44+00:00,Transplant,ward,None
...,...,...,...,...,...,...,...,...
1458403,19999840,26071774,<NA>,2164-07-25 02:16:00+00:00,2164-07-25 06:20:00+00:00,Emergency Department,ed,None
1458404,19999840,26071774,<NA>,2164-07-25 06:20:00+00:00,2164-07-28 17:22:30+00:00,Neurology,ward,None
1458405,19999987,23865745,<NA>,2145-11-05 02:29:30+00:00,2145-11-11 18:00:47+00:00,Neurology,ward,None
1458406,19999987,23865745,<NA>,2145-11-03 00:28:00+00:00,2145-11-03 03:59:00+00:00,Emergency Department,ed,None
1458407,19999987,23865745,<NA>,2145-11-03 03:59:00+00:00,2145-11-05 02:29:30+00:00,Trauma SICU (TSICU),icu,surgical_icu